@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    Thank you, your order has been submitted to Miss Nat's Dance School. Please provide Miss Nat with the $$$$!!
    </div>
</body>
</html>
