
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Annual Concerts</h4></div>

    <div style="padding:15px">
        <p>
            Our annual concerts are booked for for November and December.
            Four Concerts are presented - designed to be short and sweet without any dramas or great expense.
            We keep our concerts local at the Community Youth Centre in Cockburn.
            Concerts are not compulsory, with all costumes and accessories supplied by Miss Nat for a small hire fee.
            In order to keep the concerts affordable for everyone, tickets are very reasonably priced.
            No make up is allowed.
            The concerts are professionally recorded - so video recording or photography are NOT allowed.



        </p>

        <!--
         <div class="row">

             <div class="col-sm-6">
                 <p>
                     <img src="\images\party1.jpg" class="img-responsive img-rounded" />
                 </p>
             </div>
             <div class="col-sm-6">
                 <p>
                     <img src="\images\party2.jpg" class="img-responsive img-rounded" />
                 </p>
             </div>
         </div>

         <div class="row">

             <div class="col-sm-6">
                 <p>
                     <img src="\images\party0.jpg" class="img-responsive img-rounded" />
                 </p>
             </div>
             <div class="col-sm-6">
                 <p>
                     <img src="\images\party4.jpg" class="img-responsive img-rounded" />
                 </p>
             </div>
         </div>

     -->




    </div>
</div>
