@{
    ViewBag.Title = "Contact";

}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Contact Info</h4></div>

    <div style="padding:15px">
        <div class="row">
            <div class="col-xs-12">
         <div >
                    <address>
                        <b>Miss Nat's Dance School</b> <br />
                        Unit 9/9 Parkes Street<br />
                        Cockburn Sound, WA 6164<br />
                        <abbr title="Phone">P:</abbr>
                        0418 923 086
                    </address>

                    <address>
                        <strong>Email:</strong>   <a href="mailto:missnatsdanceschool@hotmail.com">missnatsdanceschool@hotmail.com</a><br />
                    </address>
                </div>
                <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=9+Parkes+Street+Cockburn+Sound,+WA+6164&amp;aq=&amp;sll=-31.953004,115.857469&amp;sspn=1.652274,3.109131&amp;t=h&amp;ie=UTF8&amp;hq=9+Parkes+Street+Cockburn+Sound,&amp;hnear=Western+Australia+6164,+Australia&amp;ll=-32.117104,115.838538&amp;spn=0.03862,0.05603&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=9+Parkes+Street+Cockburn+Sound,+WA+6164&amp;aq=&amp;sll=-31.953004,115.857469&amp;sspn=1.652274,3.109131&amp;t=h&amp;ie=UTF8&amp;hq=9+Parkes+Street+Cockburn+Sound,&amp;hnear=Western+Australia+6164,+Australia&amp;ll=-32.117104,115.838538&amp;spn=0.03862,0.05603" style="color:#0000FF;text-align:left">View Larger Map</a></small>

                <br style="clear:both;">
            </div>
        </div>
    </div>
</div>