
@{
    ViewBag.Title = "Newsletters";
}

<h2>Newsletters</h2>


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Term 2 Newsletter</h4></div>

    <div style="padding:15px">
       
        <p>
            As Term 2 comes to an end, we will again be having “PYJAMA” week - come in your PJs, onsie, cuddly blankets for ALL classes for the last week of term (Tuesday 1st July - Saturday 5th July).
        </p>
        <p>
            Our annual Choreography Showcase is on June 29th from 10:00am to 12:00noon. We will have some very confident dancers performing on the day. This is
            always one of my favourite events for the year! ( Please make sure you get your entry details back to Miss Nat before June 28th!!).  Please see our
            @Html.ActionLink("Choreography Showcases", "Choreo", "Home") page for registration details.
        </p>

        <p>
            Term 3 commences Tuesday 22nd July - 20th September.
            Re - Enrolments are AUTOMATIC - unless notified otherwise.
            Please let <a href="mailto:missnatsdanceschool@hotmail.com">Miss Nat know ASAP</a> if your Dancer will NOT be continuing for Term 3.
        </p>

        <p>
            Our concert venue may be changing for Level 1,2,3 & 4 Dancers of Ballet, Tap and Jazz/Hip Hop classes. I shall be checking out a 
            theatre this week for the older dancers to perform in, while keeping the younger dancers at the more casual closer location of Cockburn Youth Centre. ( Toddlers, Tiny Tots A, B & C Dancers )
            The Concert is NOT compulsory,  however it is a lot of fun and a brilliant confidence builder.
       </p>
        <p>
            Dancers in Level 1,2.3 & 4 will need to be enrolled from Term 3 to be included in the concert, as they have already learnt their routines.
            ( More details will follow in Term 3 )
       </p>
      
        <p>
            We will be running a workshop at the studio for dancers aged 5 years and up on July 15th. See our @Html.ActionLink("Workshops", "Workshops", "Home") page for more info about registration and date/times.
         

        </p>
        <p>
            Also, a friendly reminder that <b>Term Fees for Term 3 are due by August 10th!!!</b>
            Thank you,<br />
            Happy Feet and Kindest Regards,<br />
            Miss Nat.
        </p>
        <br style="clear:both;">
    </div>
</div>