



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Parties</h4></div>

    <div style="padding:15px">
        <p>

            Parties must be booked in advanced with Miss Nat. Each party is $300 for 2 hours with max 25 children. We supply the entertainment; you supply the food/drinks. Currently we only host
            two parties per month and on the weekend only. For more information, please <a href="mailto:missnatsdanceschool@hotmail.com"> email Miss Nat </a>.
        </p>
       
        <div class="row">

            <div class="col-sm-6">
                <p>
                    <img src="\images\party1.jpg" class="img-responsive img-rounded" />
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <img src="\images\party2.jpg" class="img-responsive img-rounded" />
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6">
                <p>
                    <img src="\images\party0.jpg" class="img-responsive img-rounded" />
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <img src="\images\party4.jpg" class="img-responsive img-rounded" />
                </p>
            </div>
        </div>


        
    </div>
</div>
