

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Performances</h4></div>

    <div style="padding:15px">
        <p>

            We are asked throughout the year to do casual performances at School Fetes, community fetes, fundraisers etc.
            As we do not do exams, competitions or eisteddfods, the Dancers gain performance experience by providing the entertainment to our local communities.
            Last year we also performed at the Carols By Candlight in Harvest Lakes.
            Miss Nat will provide all the costumes and accessories - all the Dancers need to do is pull their hair off their face - no stockings or shoes are required - and absolutely NO MAKE UP!
            In accordance with the philosophy of Miss Nats Dance School, all performances are not compulsory and are designed to build confidence.
        </p>
<!--
        <div class="row">

            <div class="col-sm-6">
                <p>
                    <img src="\images\party1.jpg" class="img-responsive img-rounded" />
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <img src="\images\party2.jpg" class="img-responsive img-rounded" />
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6">
                <p>
                    <img src="\images\party0.jpg" class="img-responsive img-rounded" />
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <img src="\images\party4.jpg" class="img-responsive img-rounded" />
                </p>
            </div>
        </div>

    -->

    </div>
</div>
