
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Our Philosophy</h4></div>

    <div style="padding:15px">
        <p>
            <img src="\images\philosophy.jpg" style="position:relative" class="img-float-right img-responsive img-rounded" />
        <p>
            My philosophy of dance education is all about the love of dance. <br />
        </p>

        <p>
            I believe in teaching the joy of dance, educating dancers all about their abilities, and discovering the amazing possibilities their bodies can offer them through dance. <br />
        </p>

        <p>
            Here are some core bullet points that reflect my philosophy in action
            I do not encourage competitions, eistefords or exams:
            <ul>
               
                <li>
                    I do encourage performing at local school fetes, choreography showcases and end of year concerts. None of these are compulsary.
                </li>

                <li>
                    I do not allow any make up on the dancers as I do believe that young dancers and children are beautiful without make up.
                </li>
                <li>
                    I do not require hairpieces, but I do request that dancers wear their hair off their face; preferably in a bun, so we can see their beautiful faces on stage.
                </li>
                <li>
                    I have no strict uniform cods and no hidden fees regarding costuming. I provide all costumes and accessories for school fetes, with a hire fee for the concert.
                </li>
            </ul>
        </p>

        <p>
            And to clarify, the end of year concerts are all about building confidence and getting up on stage and having fun.<br />
            The concert is NOT compulsory - however it is a lot of fun and a fantastic opportunity to showcase to family and friends.<br />
            Our mid-year choreography showcase is all about building confidence. ( Again, not compulsory and a free event )<br />
            Dancers choose their own music, costumes and choreograph ( with a friend or group or solo) and
            showcase to their family friends. Designed to get the dancers used to having an audience,
            school fetes are a fun community event and the performance is all about fun and supporting the local schools and community.
            Miss Nats Dance School prefers to keep things accessible to all - and give all children the opportunity to perform on stage - without any pressure or worry of not being technically perfect.
            </p>
        <p>
            Dancers are encouraged to perform at the best of their abilities - which is far easier for the dancers if their is no pressure.<br />
        </p>
        <p>
            <b> For The Love of Dance!</b>, <br />
            Miss Nat


        </p>
        <br style="clear:both;">
    </div>
</div>

