@{
    ViewBag.Title = "Guidelines";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Studio Policies</h4></div>
    <div class="panel-body">

    </div>
    <div style="padding:15px">

        <p>
            <img src="\images\guidelines.jpg" style="position:relative" class="img-float-right img-responsive img-rounded" />

            In order to maintain a clean and safe studio for your child, we ask that you please agree to abide by the following guidelines when in the studio. A ONE WARNING system is now in place - with dancers asked to leave after the second warning.
        </p>
        <p>
            Miss Nat has spent years developing her dance programs.  The toddler classes in particular are designed to educate little dancers in spatial awareness, musicality, left and right brain activity, crossing the mid - section -
            everything that an Occupational Therapist would recommend for a child in these age groups.
            </p>
        <p>
            While the classes are designed to improve each child's confidence and body co-ordination; to a child, it is just a lot of fun! As a dance teacher  and parent,  it puts in place all the tools for 
            Kindy, primary school, future dance classes and whatever path each child decides to pursue in the future.
            A child should be able to jump with both feet solidly placed on the ground by age two ; but every child is different! A child cannot usually skip before the age of five; but,  again, each child 
            is different and each child develops at their own pace.
            Dance classes help improve their confidence to try new movements and discover the amazing things their little bodies can do.
            </p>
            <p>
            Please follow these simple common sense rules so that our classes can continue in a happy, safe, nurturing environment.
        </p>
       <ul>
           <li>
               Parents please do not allow younger siblings to come onto the Dancers floorspace.
               This is not only disruptive and disrespectful - but also very dangerous.
               
       
              
           <li>
               Absolutely NO FOOD is allowed on the Studio Dance Floor - this means baby food and Toddler Food. The waiting room is where you can feed your child.
               ( Breast feeding is not nor never will be an issue )
           </li>
           <li>
               This is not a Mothers group for catch up and chats - This is your Childs special Dance time - please give them this moment to shine.
           </li>
           <li>
               Place ALL chairs back to the waiting area once class is finished.
           </li>

           <li>
               Toddler Dance and Tiny Tots A are the only classes where parents are allowed to sit in on the class - it is a privilege and something most other Dance studios do not allow.
               </li>
           <li>
               If you choose to sit in the waiting area - please be quiet - as the room is not soundproof and can be very distracting to the Dancers.
           </li>
<li>Remove all rubbish and clean up after yourselves.</li>
            <li>If you have tea or coffee please wash cups and leave sink area tidy and clean.</li>
            <li>No jumping on furniture or tables.</li>
            <li>No running.</li>
            <li>No screaming.</li>
            <li>Do not touch the mirrors.</li>
            <li>Do not swing on bars or staircase.</li>
            <li>Please park only allocated bays or at front of complex.</li>
            <li>Please parents refrain from talking while class is in place. Turn off electronics and keep siblings in waiting room.</li>
            <li> Please enter the studio quietly and do not let your dancer run around the studio.</li>
            <li>While Miss Nat endeavours to run on time, occasionally classes will run late.</li>
            <li>Any dancer causing threat or harm will be suspended immediately.</li>
            <li>Dancers will remain in the studio until parent/guardian enters to pick up.</li>
            <li>Please ensure you take home your child's belongings. At the end of the term, all unclaimed items will be disposed of.</li>
            <li>Chairs are not to be removed from the waiting area.</li>


        </ul><br style="clear:both" />

        <p>
            Thank you and Happy Feet!!, </br>
            Miss Nat's Dance School
        </p>
    </div>
</div>