@{
    ViewBag.Title = "Teacher";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Miss Nat, Studio Director/Lead Dance Instructor</h4></div>

    <div style="padding:15px">
        <p>
            <img src="\images\photo1.jpg" style="position:relative" class="img-float-right img-responsive img-rounded" />

            Miss Nat started her dance training at age 2, in RAD classical Ballet, CSTD Jazz, Tap and acrobatics, becoming a student teacher of dance at 8yrs of age.
            Miss Nat won scholarships in dance to MLC and John Curtin, as well as WAAPA.
            Turning professional at age 15, Miss Nat choreographed and performed many shows and productions throughout Western Australia.
            Opening her own  very successful dance school at 16yrs of age, she decided instead to travel-with the offer of working at the LIDO in Paris, an offer too good to refuse!
            Working professionaly for the next 15 years all over the world, Nat still found time to
            choreograph shows, teach and nurture the next lot of dancers coming through.
            Working overseas as dance Captain gave an extra confidence in communication-as well as a love of performing and training.
            On her return to Perth, Miss Nat has taught for many dance schools-eventually opening her own studio.After having 2 children herself, Natalie decided to stay local and teach the community her love of dance.
            Prefering to infuse the fun and fabulous aspects of dance, rather than concentrating on exams and competitions, Miss Nat has found a wonderful blend to teach children of all ages how to appreciate and nurture their Love of dance.
            We have set up our fabulous New dance Studio - located just off North Lake and Hammond Roads, in Cockburn.
            New classes have been added and many more exciting classes are available -
            Zumba with Nikki and Boyz Crew, Adults Jazz and Stretch as well as Adults Tap.

        </p>
        <br style="clear:both;">
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Miss Shara, Dance Instructor and Assistant Dance Instructor</h4></div>
    <div style="padding:15px">
        <p>
            <img src="\images\shara.jpg" style="position:relative" class="img-float-right img-responsive img-rounded" />

            Shara is a passionate and energetic dancer/performer who has an absolute love for dance. She has been singing and dancing from a young age, being trained in RAD classical ballet and pointe, jazz, hip hop and contemporary/modern dance. Shara is also continuing her own studies in dance, as well as studying Exercise Physiology at Murdoch University. She also sings and plays guitar. Shara has a love for children, and a desire to help them succeed and achieve their dreams. Coming from a large family with five siblings, she finds it very easy to relate to children. She also regularly performs in musicals, dance and singing events, and with her church band every Sunday.


        </p>
        <br style="clear:both;">
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Miss Tayla, Assistant Dance Instructor</h4></div>
    <div style="padding:15px">
        <p>
            <img src="\images\tayla.jpg" style="position:relative" class="img-float-left img-responsive img-rounded" />

            Tayla has been dancing since the age of two. She is trained in ballet, contemporary, tap, jazz , pointe,acting and singing. Tayla has competed in a number of dance and singing competitions and has performed with various troupes around perth.Tayla was accepted into John Curtin college of the arts  on a Musical theatre scholarship. She has done various stage shows and many dance concerts. Tayla has been influenced by her mum as she performed internationally in many shows. Tayla is an enthusiastic teacher and looks forward to the opportunity to work with students.


        </p>
        <br style="clear:both;">
    </div>
</div>




<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Miss Grace, Miss Charlie, and Miss Elly: Assistant Dance Instructors</h4></div>
    <div style="padding:15px">
        <p>
            <img src="\images\assist.png" style="position:relative" class="img-float-right img-responsive img-rounded" />

            Grace, Charlie and Elly have been students of Miss Nats for nearly 8 years during which time all have continued to grow in strength and confidence.
            
            Miss Nat has offered them this opportunity because of their dedication and maturity towards dance.
            Grace, Charlie and Elly are all extremely excited about their new roll at Miss Nats Dance School.
        </p>
        <br style="clear:both;">
    </div>
</div>