
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Workshops</h4></div>

    <div style="padding:15px">
        <p>

            
            The July workshop will be held during the July school holiday break on Tuesday, July 15th 2014. This workshop is for <b>ages 5 and up</b>.
            Dancers get to spend a full day at the studio  ( from 9:30am - 5:30pm ).   The workshop is a lot of fun and a fantastic way to learn more about different genres of dance.
            Miss Nat, Miss Shara and Miss Tayla will be conducting the workshop.
            Places are limited, so please be prompt!
         </p>
   
        <p>
            <ul>
                <li>Lunch is provided during the session.</li>
                <li>Cost is $85/per session</li>
                <li>A 15 minute performance will be held after the session (5:30 - 5:45) to showcase what they have learned for the day.</li>
            </ul>
        </p>
        <p>If you wish for your child to participate, please <a href="mailto:missnatsdanceschool@hotmail.com">email Miss Nat</a> with the following details: Dancer's Name, Dancer's Age, Parent Name &Aacute; Contact Number, Any Food Allergies. </p>
       
       </div>

</div>
